// Footer
footer.footer.bg-light
	| © 2018 Copyright: Vladimir Corja & Ace Ayanam
// /.Footer

<!-- Link JavaScript at the end, so pages load faster -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
script(src='/js/jquery.min.js')
<!-- Bootstrap's JS -->
script(src='/js/bootstrap.min.js')