extends layout
block content
	.main.container-fluid
		h1.text-center.blue Welcome to the President Card Game,
			span.red #{' ' + user.displayName}
			span !

		.col-lg-12.col-md-12.col-sm-12.col-ms-12.col-xs-12
			.pad-space-small
			h2.text-center.small-caps.bold Your Statistics
			.col-lg-offset-3.col-md-offset-1.col-sm-offset-1.col-ms-offset-1.col-xs-offset-1.align-items-center
				table.table-striped.col-lg-8.col-md-10.col-sm-10.col-ms-10.col-xs-10
					tbody
						tr
							td Games
							td.text-center #{user.games || 0}
						tr
							td Wins
							td.text-center #{user.wins || 0}
						tr
							td Losses
							td.text-center #{user.losses || 0}

		.col-lg-12.col-md-12.col-sm-12.col-ms-12.col-xs-12
			.pad-space
			h2.text-center.small-caps.bold Completed Games
			if(user.gameHistory == null)
				h3.text-center No completed games found.
			else
				h3.text-center TODO: Add games overview here.

		.pad-space
		.pad-space
		.pad-space
		.pad-space
		.col-lg-offset-3.col-md-offset-1.col-sm-offset-1.col-ms-offset-1.col-xs-offset-1.align-items-center
			a.text-center.btn.btn-info.btn-logout.col-lg-8.col-md-10.col-sm-10.col-ms-10.col-xs-10(href='/logout') Logout
