extends layout
block content
	.main.container-fluid
		h1.text-center.blue President Card Completed Games

		.pad-space
		.col-lg-offset-1.col-lg-11.col-md-offset-1.col-md-11.col-sm-offset-1.col-sm-11.col-ms-offset-1.col-ms-11.col-xs-offset-1.col-xs-11.align-items-center
			if(completedGames == null || completedGames.length == 0)
				td No completed games found.
			else
				table.table-striped.col-lg-10.col-md-10.col-sm-10.col-ms-10.col-xs-10
					thead
						tr
							th.text-center Winner
							th.text-center Loser
							th.text-center Game ID
					tbody
						-console.log(completedGames)
						each game in completedGames
							tr
								td.text-center #{game.winner}
								td.text-center #{game.loser}
								td.text-center
									a(href=`/games/${game.gameId}`) #{game.gameId}